@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.Error>

@{
    Layout = "Master.cshtml";
}


@Html.Partial("~/Views/Partials/PageHeader.cshtml")


<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>Page not Found</p>
            </div>
        </div>
    </div>
</article>